@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opens Sans', sans-serif;
}

body {
    background-color: #EFEFEF;
}

.wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.title {
    background: #006A6A;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #006A6A;
}

.title img {
    display: flex;
    height: 38px;
    margin-right: 2px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 70px);
    border: 1px solid rgb(7,7,6);
    border: 2px solid #006A6A;
} 

button {
    border: 1px solid #070706;
    margin: 2px #070706;
}

.key7, .key8, .key9, .key4, .key5, .key6,
.key1, .key2, .key3, .invert, .key0, .dot {
    background: rgb(55, 55, 55);
    color: rgb(224, 224, 224);
    font-size: 23px;
    font-weight: 700;
    font-family: 'Open Sans';
}