@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opens Sans', sans-serif; 
}

body {
    background-color: #EFEFEF;
}

.wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.title {
    background: #006A6A;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #006A6A;
    border-radius: 2px;
}

.title img {
    display: flex;
    height: 38px;
    margin-right: 2px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 77px);
    grid-template-rows: repeat(5, 72px);
    border: 1px solid rgb(7,7,6);
    border-left: 3px solid #006A6A;
    border-right: 3px solid #006A6A;
    border-bottom: 3px solid #006A6A;
} 

button {
    border: 0.12rem solid #070706;
    margin: 2px #070706;
    cursor: pointer;
    outline: none;
}

.key7, .key8, .key9, .key4, .key5, .key6,
.key1, .key2, .key3, .invert, .key0, .dot {
    background: rgb(55, 55, 55);
    color: rgb(224, 224, 224);
    font-size: 23px;
    font-weight: 700;
    font-family: 'Open Sans';
}

.invert, .dot {
    font-weight: 300;
}

.all-clear, .delete, .square-root, .divide,
.multiply, .subtract, .addition {
    background: rgb(38, 38, 38);
    color: rgb(180, 180, 180);
    font-size: 23px;
    font-weight: 300;
    font-family: 'Montserrat';
}

.divide, .multiply, .subtract,
.addition {
    font-size: 28px;
}

.equal {
    background: #DF7F00;
    color: #E4D2BB;
    font-family: 'Open Sans';
    font-size: 23px;
    font-weight: 300;
}

.display {
    background: #070706;
    height: 150px;
    border: 2px solid #006A6A;
    border-bottom: 2px solid #070706;
    color: #fff;
}