@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opens Sans', sans-serif;
}

body {
    background-color: #EFEFEF;
}

.wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    
}

.title {
    background: #006A6A;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    display: flex;
    height: 38px;
    margin-right: 2px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
}